---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import Navbar from "../components/navbar";
import UpperNavbar from "../components/store/upperNavbar";
import CardProduct from "../components/products/cardProduct";
import ProductOverviewGrid from "../components/products/productOverviewGrid";
import StoreDoubleColumn from "../components/store/storeDoubleColumn";
import ReviewSummaryChart from "../components/reviews/reviewSummaryChart";

// filter reviews with ID 01
let productReviews = data.reviews.filter((x) => x.productID == "01");
---

<Layout title="Product Page">
  <header class="bg-gray-100">
    <UpperNavbar />
    <Navbar />
  </header>
  <main>
    <div class="grid grid-flow-row container mt-5 mx-auto">
      <ProductOverviewGrid
        colors={data.products[0].colors!}
        images={data.products[0].images!}
        title={data.products[0].title}
        full_description={data.products[0].full_description!}
        price={data.products[0].price}
        highlights={data.products[0].highlights!}
        details={data.products[0].details!}
        rating={data.products[0].rating!}
        reviews={data.products[0].reviews!}
        sizes={data.products[0].sizes!}
      />

      <div class="my-5">
        <ReviewSummaryChart reviews={productReviews} />
      </div>

      <div>
        <h5 class="mt-4"><b>Customers also purchased</b></h5>
        <div class="grid grid-flow-col gap-3 items-top justify-evenly">
          {
            data.products.map((product) => (
              <div>
                <CardProduct
                  thumb_src={product.thumb_src}
                  thumb_alt={product.thumb_alt}
                  color={product.color}
                  title={product.title}
                  price={product.price}
                  position="left"
                />
              </div>
            ))
          }
        </div>
      </div>
      <hr class="my-5" />
      <StoreDoubleColumn />
    </div>
  </main>
</Layout>
