---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import Navbar from "../components/navbar";
import UpperNavbar from "../components/store/upperNavbar";
import CardProduct from "../components/products/cardProduct";
import ShoppingCart from "../components/cart/shoppingCart";
import StoreDoubleColumn from "../components/store/storeDoubleColumn";

let cartItems: any[] = [];
data.shoppingCart.map((id) =>
  data.products.filter((x) => x.id == id).map((x) => cartItems.push(x))
);
---

<Layout title="Shopping Cart">
  <main>
    <UpperNavbar />
    <Navbar />

    <ShoppingCart products={cartItems} />

    <div class="container mt-5 grid mx-auto">
      <div>
        <h5 class="mb-4">You may also like...</h5>
        <div class="grid grid-flow-col gap-3">
          {
            data.products.map((product) => (
              <div>
                <CardProduct
                  thumb_src={product.thumb_src}
                  thumb_alt={product.thumb_alt}
                  color={product.color}
                  title={product.title}
                  price={product.price}
                  position="left"
                />
              </div>
            ))
          }
        </div>
      </div>
      <hr class="my-5" />
      <StoreDoubleColumn />
    </div>
  </main>
</Layout>
